/*----------------------------------------
         Responsive  style
---------------------------------------- */

@media screen and (max-width:992px) {

   /* header section responsive */
   .menu {
      gap: 30px;
   }

   /* Our Features section responsive */
   #our-features {
      padding: 85px 10px 65px 10px;
   }

   .our-features-area {
      grid-template-columns: repeat(1, 1fr);
   }

   /* features section responsive */
   .features-content>.section-title {
      width: 100%;
   }

   .features-area {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
   }

   .experience {
      width: 95%;
      position: absolute;
      left: 2.5%;
      bottom: -10%;
   }

   /* sponsors section responsive */
   #sponsors {
      padding: 120px 20px;
   }

   .sponsors-logo {
      justify-content: space-evenly;
   }

   .sponsors-heading-content>.description,
   .blog-heading-content>.description {
      width: 75%;
   }

   /* facts section responsive */

   #facts {
      margin: 65px 10px 100px 10px;
   }

   .facts-area {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
   }

   .facts-heading {
      text-align: center;
   }

   .facts-heading>.description {
      width: 75%;
      margin: 0 auto;
   }

   /*  Blog section responsive */
   #blog {
      margin: 50px 10px;
   }

   .blog-area {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media screen and (max-width:768px) {

   /* header section style */

   .header-area {
      flex-direction: column;
   }

   .menu {
      flex-direction: column;
      gap: 15px;
   }

   /* our-features section style */
   .our-features-content>.section-title {
      width: 100%;
   }

   /*  Blog section responsive */

   .blog-area {
      grid-template-columns: repeat(1, 1fr);
   }
}

@media screen and (max-width:576px) {

   /* banner section responsive */
   .banner-content>.description {
      width: 100%;
      padding: 0 10px;
   }

   /* Features section responsive */

   .our-features-img-box {
      grid-template-columns: repeat(1, 1fr);
   }

   /* features section responsive */
   .experience {
      position: absolute;
      left: 2.5%;
      bottom: -17%;
   }

   /* sponsors section responsive */
   .sponsors-logo {
      flex-direction: column;
      justify-content: center;
   }

   .sponsors-heading-content>.description,
   .blog-heading-content>.description {
      width: 100%;
   }

   .sponsors-logo>div {
      margin: 10px 0;
   }

   /* facts section responsive */
   .facts-area {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
   }

   .facts-heading {
      text-align: center;
   }

   .facts-heading>.description {
      width: 100%;
      margin: 0 auto;
   }
}